<form>
    <div class="form-group">
        <div class="col-xs-4">
            <label for="ex1">Control No</label>
            <input class="form-control" id="ex0" type="text" placeholder="">
        </div>
        <div class="col-xs-4">
            <label for="ex1">First Name</label>
            <input class="form-control" id="ex1" type="text" readonly placeholder="firstname">
        </div>
        <div class="col-xs-4">
            <label for="ex2">Last Name</label>
            <input class="form-control" id="ex2" type="text" readonly placeholder="lastname">
        </div>
        <div class="col-xs-4">
            <label for="ex3">Email</label>
            <input class="form-control" id="ex3" type="text" readonly placeholder="email">
        </div>
        <div class="col-xs-4">
            <label for="ex3">City</label>
            <input class="form-control" id="ex4" type="text" readonly placeholder="city">
        </div>
        <div class="col-xs-4">
            <label for="ex3">ST / Province</label>
            <input class="form-control" id="ex5" type="text" readonly placeholder="state">
        </div>
        <div class="col-xs-4">
            <label for="ex3">Zip / Postal</label>
            <input class="form-control" id="ex6" type="text" readonly placeholder="zip">
        </div>
        <div class="col-xs-4">
            <label for="ex3">County</label>
            <input class="form-control" id="ex7" type="text" readonly placeholder="county">
        </div>
        <div class="col-xs-4">
            <label for="ex3">Country</label>
            <input class="form-control" id="ex8" type="text" readonly placeholder="country">
        </div>
        <div class="col-xs-6">
            <label for="Roles">Job Roles:</label>
            <textarea class="form-control" rows="6" readonly id="roles"></textarea>
        </div>
        <div class="col-xs-4 deleteEmployeebtn">
            <button type="submit" class="btn btn-primary btn-md">Delete Employee</button>
        </div>
    </div>
</form>